<div class="container">
    <div class="row mt-2">
        <div class="col">
            <p class="alert alert-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quidem cupiditate ipsum porro quaerat magni accusamus voluptatibus recusandae, deleniti illo similique aspernatur hic? Aut, blanditiis delectus. Nam dolore neque vero!
            </p>
        </div>
        <div class="col">
            <p class="alert alert-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quidem cupiditate ipsum porro quaerat magni accusamus voluptatibus recusandae, deleniti illo similique aspernatur hic? Aut, blanditiis delectus. Nam dolore neque vero!
            </p>
        </div>
    </div>
</div>