<div class="container">
    <div class="row">
        <h3 class="text-muted">Topic is {{ title }}</h3>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <input type="text" [value]="title" />
            </div>
            <div>
                <input type="text" [style.border]="brd" />
            </div>
            <div>
                <input type="text" [class.onlyred]="true" />
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <input type="text" [style.font-weight]="fntwt" />
        </div>
        <div class="col">
            <input type="button" value="Increase" class="btn btn-info" (click)="clk(1)" />
            <input type="button" value="Decrease" class="btn btn-danger" (click)="clk(2)" />
        </div>
    </div> -->
    <app-cmp1 [progress]="calcprog"></app-cmp1>
    <app-cmp2 (profileprogress)="onProgress($event)"></app-cmp2>
</div>

<!-- <div class="container">
    <h3>MOUSE EVENTS</h3> -->

<!-- dblclick() -->
<!-- <div class="row">
        <div class="col">
            <p (dblclick)="dblclick()">
                <b>Double click EVENT</b> here ==
                <span> {{ counter }}</span>
            </p>
        </div>
    </div> -->

<!-- drag() -->
<!-- <div class="row">
        <div class="col">
            <p (drag)="drag()">
                <b>Select and Drag </b> here ==
                <span> {{counter1}}</span>
            </p>
        </div>
    </div> -->

<!-- dragover() -->
<!-- <div class="row">
        <div class="col">
            <p (dragover)="dragover()">
                <b>Drag and Drop </b> here ==
                <span> {{counter2}}</span>
            </p>
        </div>
    </div> -->

<!-- mousedown() -->
<!-- <div class="row">
        <div class="col">
            <p (mousedown)="mousedown()">
                <b>Mousedown </b> here ==
                <span> {{counter3}}</span>
            </p>
        </div>
    </div> -->

<!-- mouseup() -->
<!-- <div class="row">
        <div class="col">
            <p (mouseup)="mouseup()">
                <b>MousUp</b> here ==
                <span>{{counter4}} </span>
            </p>
        </div>
    </div> -->

<!-- mouseenter -->
<!-- <div class="row">
        <div class="col">
            <p (mouseenter)="mouseenter()">
                <b>Mouseenter</b> here ==
                <span>{{counter5}} </span>
            </p>
        </div>
    </div> -->

<!-- mouseleave() -->
<!-- <div class="row">
        <div class="col">
            <p (mouseleave)="mouseleave()">
                <b>Mouseleave</b> here ==
                <span>{{counter6}} </span>
            </p>
        </div>
    </div> -->

<!-- mouseover() -->
<!-- <div class="row">
        <div class="col">
            <p (mouseover)="mouseover()">
                <b>Mouseover</b> here ==
                <span>{{counter7}} </span>
            </p>
        </div>
    </div> -->
<!-- <app-project-concept></app-project-concept> -->

<!-- </div> -->